<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Anagrams</title>
</head>
<body>
  <h1>Hello!</h1>
  <h3 th:text="${error}" style="color: red"></h3>
  <form action="/make-anagram" method="POST">
    <textarea name="text" rows="10" cols="100"></textarea>
    <button type="submit">submit</button>
  </form>
</body>
</html>
